/target
**/*.rs.bk
/.idea
/config.json
/tags.txt
/downloads
/login.json
/Testing Bench
/e621_downloader.log

.vscode/
rust_Panic.txt
readme.txt
issues_rr.txt
artists.json
tags.txt.backup
/IMPROVEMENT_ROADMAP.md
/NASA_CODING_STANDARDS_AUDIT_REPORT.md
